<Connector 
    port="8443" 
    protocol="org.apache.catalina.net.DefaultSSLProtocolSocketFactory"
    maxThreads="150" 
    SSLEnabled="true" 
    scheme="https" 
    secure="true" 
    clientAuth="false" 
    sslProtocol="TLS"
    keystoreFile="C:\Users\Goral\OneDrive\Desktop\SNHU\Term 8 -24C5\CS-305\Project_Two\ssl-server_student\src\main\resources\keystore" 
    keystorePass="SNHU2024" 
    keyAlias="selfsigned" />